@import "nixos-common-styles/index";

@import "setup";

// custom color palette for event web page
@color-secondary: #ffc554;
@color-secondary-dark: #e49700;
@color-secondary-light: #ffc963;

// PAGES:

@import "./pages/index";
@import "./pages/blog";

html {
  scroll-padding-top: 4rem;
}

header {
  .title {
    font-size: 1.5rem;
    font-weight: bold;
  }
}

// Remove common styles’ code styling which conflicts with syntax highlighting
code {
  color: unset;
  background: unset;
  display: inline;
  padding: 0 0;
  border: none;
}
