<!DOCTYPE html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ config.title }}</title>
    <link rel="stylesheet" href="{{ get_url(path="style.css") | safe }}">
    <meta name="description" content="{% if page.description %}{{ page.description | trim }}{% else %}{{ config.description | trim }}{% endif %}">
    <link rel="alternate" type="application/rss+xml" title="Announcements" href="{{ get_url(path="announcements/atom.xml", trailing_slash=false) }}">
    <link rel="alternate" type="application/rss+xml" title="Blog articles" href="{{ get_url(path="blog/atom.xml", trailing_slash=false) }}">
    <link rel="alternate" type="application/rss+xml" title="Videos" href="{{ get_url(path="videos/atom.xml", trailing_slash=false) }}">
  </head>
  <body>
    <header>
      <div>
        <a class="title" href="/">{{ config.title }}</a>
        <nav style="display: none;">
          <ul>
            {% for link in config.extra.navbar.links -%}
            <li{% if current_path == link.target %} class="active"{% endif %}><a href="{{ get_url(path=link.target) | safe }}">{{ link.title }}</a></li>
            {%- endfor %}
          </ul>
        </nav>
      </div>
      <button class="menu-toggle">Toggle the menu</button>
    </header>
    <main>
      {% block content %}{% endblock content %}
    </main>
    <footer>
      <div>
        <div class="lower">
          <section class="footer-copyright">
            <h4>NixOS</h4>
            <div>
              <span>
                Copyright © 2022 NixOS contributors
              </span>
              <a href="https://github.com/NixOS/nixos-summer/blob/main/LICENSE.txt">
                <abbr title="Creative Commons Attribution Share Alike 4.0 International">
                  CC-BY-SA-4.0
                </abbr>
              </a>
            </div>
          </section>
          <section class="footer-social">
            <h4>Connect with us</h4>
            <ul>
              <li class="social-icon -twitter"><a href="https://twitter.com/nixos_org">Twitter</a></li>
              <li class="social-icon -youtube"><a
                  href="https://www.youtube.com/channel/UC3vIimi9q4AT8EgxYp_dWIw">Youtube</a></li>
              <li class="social-icon -github"><a href="https://github.com/NixOS">GitHub</a></li>
            </ul>
          </section>
        </div>
      </div>
    </footer>
    <script src="{{ get_url(path="script.js") | safe }}"></script>
  </body>
</html>
