{% extends "base.html" %}
{% block content -%}
<div class="page-title">
  <h1>{{ config.title }} Calendar</h1>
</div>
<section class="generic-layout">
  {{ page.content | safe }}
  {% set section = get_section(path="announcements/_index.md") -%}
  <ul>
    {% for page in section.pages -%}
    {% if page.extra.event_start and page.extra.event_end -%}
    {% set start_date = page.extra.event_start | date(format="%Y-%m-%d", timezone="Etc/UTC") -%}
    {% set end_date = page.extra.event_end | date(format="%Y-%m-%d", timezone="Etc/UTC") -%}
    <li>{{ page.extra.event_start | date(format="%Y-%m-%d %H:%M", timezone="Etc/UTC") }} – {% if start_date == end_date %}{{ page.extra.event_end | date(format="%H:%M", timezone="Etc/UTC") }}{% else %}{{ page.extra.event_end | date(format="%Y-%m-%d %H:%M", timezone="Etc/UTC") }}{% endif %}: <a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
    {% endif -%}
    {% endfor -%}
  </ul>
</section>
{% endblock %}
